/* ---------------------intro--------------------- */
.intro {
    padding: 150px 0;
}
.intro-content {
    display: flex;
}
.left-item {
    margin-right: 50px;
}
.item {
    position: relative;
    overflow: hidden;
}
.left-item .item {
    width: 850px;
    cursor: pointer;
}
.item .desc {
    position: absolute;
    color: #000;
    top: 10px;
    left: 10px;
    transition: 0.3s;
}
.item .desc h3 span {
    position: absolute;
    left: -40px;
    transition: 0.3s;
}

.item:hover .desc h3 {
    left: 50px;
}

/* .item::before {
    content: '->';
    position: absolute;
    top: 10px;
    left: 0px;
}
 */


.left-item img {
    width: 100%;
}
.right-item {
    display: flex;
    flex-direction: column;
}
.right-item .item {
    width: 400px;
}
.right-item img {
    width: 100%;
}
 .right-item .item:first-child {
    margin-bottom: 40px;
} 
