.welcome {
    text-align: center;
    padding: 50px 0;
}
.welcome h5 {
    font-weight: 600;
    font-size: 16px;
}
.welcome p {
    font-size: 30px;
    line-height: 1.5em;
    color: rgb(133, 133, 133);
}

@media (max-width:768px) {
    .welcome {
        padding: 50px 15px;
        box-sizing: border-box;
    }

}