.intro {
    padding: 150px 0;
}
.intro-content {
    display: flex;
}
.left-item {
    margin-right: 50px;
}
.intro-content .item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}
.left-item .item {
    width: 850px;
    height: 800px;
}
.left-item img {
    height: 100%;
}
.intro-content .item .desc {
    position: absolute;
    color: #000;
    top: 30px;
    left: 30px;
}
.intro-content .item .desc h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.intro-content .item .desc span {
    color: rgb(133, 133, 133);
    font-size: 13px;
    font-weight: 600;
}
.intro-content .item img {
    transition: 0.5s;
}
.intro-content .item img:hover {
    transform: scale(1.2);
}
.right-item {
    display: flex;
    flex-direction: column;
}
.right-item .item {
    width: 400px;
    height: 375px;
    border-radius: 20px;
}
.right-item img {
    height: 100%;
}
 .right-item .item:first-child {
    margin-bottom: 50px;
} 

@media (max-width:768px) {
    .intro {
        padding: 50px 0px;
        box-sizing: border-box;
    }
    .intro-content {
        flex-direction: column;
    }
    .left-item {
        width: 100%;
        margin-bottom: 50px;
    }
    .left-item .item {
        width: 100%;
        height: 375px;
    }
    .right-item .item {
        width: 100%
    }
    .left-item img,
    .right-item img {
        width: 100%;
    }
}