header {
  position: fixed;
  width: 100%;
  transition: 0.5s;
}
.title {
  height: 200px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 20px;
  width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  width: 1300px;
  margin: auto;
  justify-content: space-between;
  display: flex;
}
.gnb {
  display: flex;
}
.gnb li a {
  padding: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.gnb li a:hover {
  color: #bbb;
}
.submenu {
    margin-left: 250px;
}
.submenu a {
  padding: 0 20px;
  font-weight: 500;
}
nav .sidebar {
  width: 20px;
  height: 13px;
  position: relative;
  cursor: pointer;
}
nav .sidebar span {
  height: 1px;
  background-color: #000;
  position: absolute;
  width: 100%;
}
nav .sidebar:hover span{
  background-color: #bbb;
}
nav .sidebar span:nth-child(1) {
  top: 0;
}
nav .sidebar span:nth-child(2) {
  top: 50%;
}
nav .sidebar span:nth-child(3) {
  top: 100%;
}
.side-menu {
  display: none;
}

@media (max-width:768px) {
 
  .sidebar {
    display: none;
  }
  header {
    display: flex;
  }
  .title {
    width: 100%;
  }
  .gnb {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #000;
  }
  .gnb li a {
    color: #fff;
  }
  .submenu {
    flex-direction: column;
    position: fixed;
    top: 30%;
    right: -250px
    
  }
  .submenu a {
    color: #fff;
  }
  .side-menu {
    display: block;
    /* width: 30px;
    height: 18px; */
    position: absolute;
    right: 20px;
    top: 35px;
    border: 1px solid #000;
  }
}


